[submodule "Jah/External/imgui"]
	path = Jah/External/imgui
	url = https://github.com/JordanDia/imgui.git
[submodule "Jah/External/glm"]
	path = Jah/External/glm
	url = https://github.com/g-truc/glm
[submodule "Jah/External/spdlog"]
	path = Jah/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Jah/External/yaml-cpp"]
	path = Jah/External/yaml-cpp
	url = https://github.com/JordanDia/yaml-cpp
