# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.suo
**.user
**.userosscache
**.sln.docstates

# Build directories
Binaries/
Binaries-Int/
Intermediates/
obj/

# Logs
*.log

# Other
*.pdb
